h1 {
    color: #808080;
    font-family:"Arial";
}

p {
    color: #dbdbdb;
    font-family:"Arial";
}

body
{
background: #262626; 
}

.border {
      border-width: 1px;
      border-color: black;
      border-style: solid
}

.singleLine-border {
      border: 1px solid black;
}

